# This only affect files not already in git
# Mac filesystem files:
.DS_Store

# RubyMine project files:
.idea

# XCode files:
build
*.pbxuser
*.mode1v3
*.mode2v3

# Rails files:
*.log
test.sqlite3

# Java build files:
*.class

