/*****************************************/
/*                                       */
/* Screen-specific styles                */
/* simonwoodside.com                     */
/*                                       */
/*****************************************/

@import "common.css";

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

div#nocsstitlebox {
  display: none;
}

/*****************************************/
/* Layout boxes for sidebar              */
/*****************************************/
div#sidebarbox {
  position: absolute;
  width: 150px;
  left: 20px;
  background-color: black;
}
div#sidebarbox_inner {
  margin: 0;
  margin-right: 0;
  padding-top: 10px;
  padding-bottom: 200px;
  background-color: #cc0000;
}
div#bannerbox {
  text-align: center;
}
div#sitemenu {
  font: 0.7em/1.2 sans-serif;
  margin-left: 20px;
  margin-top: 30px;
}
div#sitemenu a,
div#sitemenu a:visited {  color: #fff;  }

div#searchbox {
  border-top: 1px solid white;
  margin-top: 2em;
  margin-left: 20px; margin-right: 20px;
  padding-top: 1em;
  text-align: center;
}
div#searchbox input {
  color: #cc0000;
  width: 80%;
  border: none;
}

div#related {
  color: white;
  font: 0.8em/1.2 sans-serif;
  border-top: 1px solid white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 2em;
  padding-top: 1em;
}
div#related a {
  color: white;
  font-weight: normal;
}
div#related div.weblog_entry_title:before {
  content: "*";
}

div#flickrbox {
  font: 0.8em sans-serif;
  text-align: center;
  margin-top: 2em;
}
div#flickrbox div.text, div#flickrbox div.text a {
  color: white;
}
div#flickrbox div.flickr_badge_image
{
  display: table;
  margin:0; padding:0;
  margin-left: auto; margin-right: auto;
}
div#flickrbox div.flickr_badge_image a img {
  border: 2px solid white;
}


/*****************************************/
/* Layout boxes for navi                 */
/*****************************************/
div#navi {
  padding:0;
  margin:0;
  font-size: 0.9em;
}
div#navi div#pathbar {
  padding-left: 2em;
  background-color: #cc0000;
  color: white;
}
div#pathbar a, div#pathbar a:visited {
  color:white;
}
div#navi div#submenu {
  padding-left: 6em;
  border-bottom: 1px solid #cc0000;
}
span.submenuitem:after {
  content: "*";
}
span.submenuitem:last-child:after {
  content: "";
}


/*****************************************/
/* Layout boxes for content              */
/*****************************************/
div#wrapper {
  border-left: 170px solid white;
}
div#content {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 50px;
  background-color: white;

}
div#content_inner {
  padding-left: 50px;
  padding-right: 40px;
}
div#titlebox {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
div#footerbox {
  color: #888; 
  font: normal 0.8em sans-serif;
  margin-top: 2em;
}
div#footerbox a {
  color: #888;
  font-weight: normal;
  text-decoration: underline; 
}


/*****************************************/
/* General                               */
/*****************************************/
h1, h2, h3, h4, h5, h6 { color: #3366CC; }
h1 { text-shadow: #999 2px 2px 2px; }
span.body_title { color:#3366CC; }

a,
a:visited {
  color: #cc0000;
}




div.related_box {
  border: 1px solid red;
  padding-left: 2em;
  padding-bottom: 1em;
}


div.sax_include_feed {
  font: 0.8em/1.2 sans-serif;
  border-top: 2px solid red;
  padding: 1em;
}
div.sax_include_feed a {
  font-weight: normal;
}
div.sax_include_feed div.feed_item:before {
  content: "* ";
}


