/*****************************************/
/*                                       */
/* Common styles                         */
/* simonwoodside.com                     */
/*                                       */
/*****************************************/

@import "/shared/css/common.css";

body 
{
  font-family: "Georgia", serif;
  line-height: 1.2;
  letter-spacing: 0.0em;
}

/*****************************************/
/* Headings                              */
/*****************************************/
h1,h2,h3,h4,h5,h6 { display:table; font-family: sans-serif; font-weight: normal; clear:left; }
h1 {
  padding: 0 !important;
  margin: 0  !important;
  font-size: 100% !important;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color:#3366CC;
}
h2 { margin: 0; margin-left: -1em; }
h1 {  font-size: 1.2em; margin-top: 10mm; }
h2 {  font-size: 1.1em; margin-top: 3mm;;  }
h3 {  margin: 0; font-size:1.0em; }
h4 {  margin: 0; font-size:0.8em; }



/*****************************************/
/* Links                                 */
/*****************************************/
a,
a:visited {  /*text-decoration: none;*/  }
a {  font-weight: bold;  }
a:hover {  text-decoration: underline;  }
a img { border: none; }

/*****************************************/
/* General                               */
/*****************************************/
p, ul, ol
{
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

ul,ol {
  padding-left:2em;
}

pre {  font-size: 0.8em;  }

blockquote {
  font-size: 0.9em;
  font-style: italic;
}


/*****************************************/
/* legacy                                */
/*****************************************/
.mini {  font-size: xx-small;  }
div.related { border: 1px solid; padding: 1em; }



/*****************************************/
/* Section menu                          */
/*****************************************/
ul.menu {
  list-style-type: none;
}
ul.menu li {
  padding: 1em;
}
ul.menu img {
  vertical-align: middle;
  margin-right: 1em;
}

/*****************************************/
/* weblog                                */
/*****************************************/
.weblog_front_entry {
  margin-bottom: 0;
}
.weblog_entry {
  margin-top: 2em;
}
.weblog_entry h2 {
  margin-top: 0.2em;
}






