/*****************************************/
/*                                       */
/* Print-specific styles                 */
/*                                       */
/*****************************************/

@import "common.css";

body {
  background-color: white;
  padding: 10mm;
  font-size: 0.85em;
}

.noprint,
div#bannerbox,
div#sidebarbox,
div#nocsstitlebox,
div#navi,
div#footerbox {
  display: none;
}


/*****************************************/
/* Links                                 */
/*****************************************/
div#content a:link:after,
div#content a:visited:after {
  content: " (" attr(href) ") ";
  font-family: monospace;
  font-size: 0.7em;
  font-weight: normal;
  font-style: normal;
  color: gray;
}


