<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <title><%= Site.site_name %> : Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="index,follow"/>
    <meta name="mssmarttagspreventparsing" content="true"/>
    <%= Site.default_meta_tags %>
    <%= Site.icbm_meta_tag %>
    <%= Site.esbn_meta_tag %>
    <%= Site.issn_meta_tag %>
    <%= auto_discovery_link_tag :rss, Site.rss_url, :title => 'Primary Feed with Everything' %>
    <%= auto_discovery_link_tag :rss, Site.posts_rss_url, :title => 'Just the Blog Posts' %>
    <link type="text/css" rel="Stylesheet" media="screen" href="/stylesheets/portal.css"/>
    <%= javascript_include_tag 'site' %>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'lightbox' %>
    <%= javascript_include_tag 'rollover' %>
  </head>

  <body>
    <%#= render :partial => 'includes/browser_check' %>
    <div id="container">
      <%= render :partial => 'includes/masthead' %>
      <%= render :partial => 'includes/main_nav' %>
      <div id="center">
        
        
      </div>
    </div>
    <%= Site.mint_tag %>
    <%= Site.ga_tag %>
  </body>

</html>
