<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= Site.site_name %> : <%= ' ' + $page_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="index,follow"/>
    <meta name="mssmarttagspreventparsing" content="true"/>
    <%= Site.default_meta_tags %> <%= Site.icbm_meta_tag %> <%= Site.esbn_meta_tag %> <%= Site.issn_meta_tag %>
    <%= auto_discovery_link_tag :rss, Site.posts_rss_url, :title => 'Simon Says' %>
    <link type="text/css" title="WatStart" rel="Stylesheet" media="screen" href="/stylesheets/inside.css"/>
    <%= javascript_include_tag 'site' %>
    <%= javascript_include_tag 'prototype' %> <%= javascript_include_tag 'effects' %> <%= javascript_include_tag 'lightbox' %>
    <%= javascript_include_tag 'rollover' %> <%= javascript_include_tag 'accordion' %>
  </head>
  <body>
    <%#= render :partial => 'includes/browser_check' %>
    <div id="container">
      <%= render :partial => 'includes/masthead' %>
      <%= render :partial => 'includes/main_nav' %>
      <div id="center">
        <div id="content">
          <%= yield %>
          <%= render :partial => 'includes/footer' %>
        </div>
      </div>
      <div id="right-rail">
        <p>
          <a href="/archives" title="Archives">Browse the weblog archives</a>
        </p>
        <p>Tags:</p>
        <%= Site.list_tags_linked(@tags) %>
        <p>Subscribe to the <%= Site.rss_feed_link %> or the <%= Site.comments_feed_link %>.</p>
      </div>
    </div>
    <%= Site.mint_tag %>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-3449575-2");
      pageTracker._trackPageview();
    </script>
  </body>
  
</html>